- @title = "Benefits"
%div{id: @title}

	%section.clearfix{role: "top"}
		%article.clearfix
			%h1.lined What are the Benefits of Massages?
			.textblock
				.image-right
					= image_tag('thumb-reflex.jpg', alt:'Benefits of Massage')
				%p
					Massage is an effective treatment for reducing stress, pain and muscle tension.

				%h3 Massage may also be helpful for:

				%ul
					%li Anxiety
					%li Digestive disorders
					%li Fibromyalgia
					%li Headaches
					%li Insomnia related to stress
					%li Myofascial pain syndrome
					%li Paresthesias and nerve pain
					%li Soft tissue strains or injuries
					%li Sports injuries
					%li=link_to 'Temporomandibular joint pain', tmj_path

				%p
					Massage treatments are performed on a regular basis to help the body maintain an optimal level of relaxation and stress-relief. This approach reduces the chances of migraine attacks and tension headaches significantly by relaxing muscle spasms and trigger points.
				%p
					Also, massage is done to ease the pressure brought on during a migraine or tension related headache. By focusing on the neck, shoulders and head, massage can decrease the pain and discomfort brought on by migraine or tension headaches.
					Massage therapy recipients exhibit fewer migraines and better sleep quality during the weeks following a massage.
				%p
					In adults with migraine headaches, massage therapy decreases the occurrence of headaches, sleep disturbances and distress symptoms. Regular massage therapy also increases serotonin levels, believed to play an important role in the regulation of mood, sleep and appetite. Massage for headaches can also reduce muscle spasms and trigger points. So schedule your Massage therapy Session in Sacramento, Ca with Katrina today!

				=link_to "Reserve Now", reserve_path, target: "_blank", class: "button"

				= render 'layouts/addto'