- @title = "chair-massage"
%div{id: @title}

	%section.clearfix{role: "top"}
		%article.clearfix
			%h1.lined What is a Cherished Chair Massage?
			.textblock
				.image-right
					= image_tag('chair-massage-union.png', alt:'chair massage')
				%p
					A Cherished Chair Massage session is a fully-clothed, seated massage performed by an experienced, certified massage therapist ordinarily in 10-15 minute increments in an ergonomical chair provided by the therapist. The Cherished Chair Massage focus is typically limited to neck, shoulder, arm and hand issues but also addresses stress-related headaches and muscle tension. The use of therapeutic-grade essential oils may be applied as needed.

				%h3 Who reserves our Cherished Chair Massage Services?
				%p
					Today top employers realize the importance of keeping their employees and customers at the peak of health & wellness. It is those businesses that seek out regular, weekly and monthly massage services from Married to Massage therapists. Companies hoping to attract high-quality employees, often employ massage therapist as a benefit. Businesses who are experiencing high turnover, consider hiring massage therapists as an employee benefit.

				%h3 What are the benefits of Cherished Chair Massage?
				%p
					Progressive businesses employing massage therapists report fewer absences and higher morale. Repetitive use injuries such as tendonitis and carpal tunnel syndrome (common in the workplace) may be prevented when receiving regular massage therapy. Research has indicated that even a short seated massage results in decreased job stress, increased alertness and increased speed & accuracy on math computations. Because 40% of all job turnover is stress related, your new employee training costs can be diminished when providing massage therapy to your employees.
				%p
					Work-related Stress Costs in the U.S. industry are estimated at over $300 billion annually as a result of:
					= link_to 'workplace stress', 'http://www.stress.org/workplace-stress/', class: 'small-link'
					%span.bold poor decision-making skills resulting in:
					%ul.work-stress
						%li accidents
						%li absenteeism
						%li employee turnover
						%li diminished productivity
						%li medical, legal and insurance costs
						%li workers' compensation, torts and FELA judgments

				%h3 Why do companies choose Married to Massage for Chair Massage over other therapists?
				%p
					Our experienced therapists educate clients with posture and stretching suggestions. Cherished Chair Massage coupled with our therapeutic-grade essential oil application increases alertness. Employers receive discounted studio gift certificates to offer as employee incentives. Our professional, dependable massage therapists are fully insured with liability insurance and are willing to add your company as a rider to our polices if requested. Cherished Chair Massage services are competitively priced. For as little as $49/hour (2-hour minimum)*, your business can acquire top massage therapists which may attract the highest-quality employment candidates.

				-# .todo add contact form

				=link_to "Reserve Now", "https://www.massagebook.com/IndependentMassageAlliance?src=external#booknow651016", target: "_blank", class: "button"

				= render 'layouts/addto'













