- @title = "Contact"

%div{id: @title}
  %section.clearfix
    .contact-links.sans
      Contact us at:
      =link_to "916.467.HEAL", "tel:+19164674325"
      or
      =link_to "marriedtomassage@gmail.com", "mailto:marriedtomassage@gmail.com", class: "blue"

    .formContainer
      %form#ss-form{:action => "https://docs.google.com/forms/d/190zz9BI0dHtKdLwxcLzwrqCGGWkDKvVkJZ_UwvYnXGI/formResponse", :method => "POST", :onsubmit => "", :target => "_self"}
        %input.input{:dir => "auto", :name => "entry.881739568", :required => "true", :title => "", :type => "text", :value => "",placeholder: "Name"}
        %input.input{:dir => "auto", :name => "entry.1171236638", :pattern => ".*\\+?\\(?\\d{2,4}\\)?[\\d\\s-]{3,}.*", :required => "true", :title => "", :type => "text", :value => "", placeholder: "Phone"}
        %input.input{:dir => "auto", :name => "entry.1542968118", :title => "", :type => "email", :value => "", placeholder: "Email"}
        -# %input.input.time{"aria-label" => "Best Time to Contact  ", :dir => "auto", :name => "entry.644595172", :type => "time", :value => "", placeholder: "Best time to contact"}
        %textarea.input.textarea{:cols => "0", :dir => "auto", :name => "entry.1078707660", :rows => "8", placeholder: "Comments / Desired Service"}
        %input.input.time.date{:dir => "auto", :name => "entry.773980853", :type => "date", :value => "", :placeholder => "Desired Date of Service"}
          %input{:name => "draftResponse", :type => "hidden", :value => "[,,&quot;7063091679416996761&quot;]\n"}
            %input{:name => "pageHistory", :type => "hidden", :value => "0"}
              %input{:name => "fbzx", :type => "hidden", :value => "7063091679416996761"}
                .ss-item.ss-navigate
                  %table#navigation-table
                    %tbody
                      %tr
                        %td#navigation-buttons.ss-form-entry.goog-inline-block{:dir => "ltr"}
                          %input#ss-submit.jfk-button.jfk-button-action{:name => "submit", :type => "submit", :value => "Submit"}
                            

