- @title = "Elbow"
%div{id: @title}

  %section.clearfix{role: "top"}
    %article.clearfix
      %h1.lined Massage For Golfer's Elbow (Medial Epicondylitis)
      .textblock
        .image-right
          = image_tag('Elbow-pain-sports-massage.jpg', alt:'sports elbow massage')

        %h3 Golfer's Elbow: What is it and Who gets it?
        %p
          Golfer's Elbow (also known as Medial Epicondylitis) is a condition common in those who golf but you don't have to be a golfer to develop the painful condition. Many repetitive movements can lead to golfer's elbow. Activities such as raking, hammering, computer work and even performing massage therapy can lead to Medial Epicondylitis. Basically, anyone who repetitively stress the wrist and fingers, are at risk of developing Golfer's Elbow.

        %h3 Symptoms of Golfer's Elbow
        %p
          Those suffering with Golfer's Elbow will notice the pain and tenderness on the inside of the elbow and may experience hand and wrist weakness. Sufferers may feel pain when making a fist or even turning a door knob or shaking hands. Numbness in the fingers is also common with the condition.

        %h3 Diagnosis and Treatment of Golfer's Elbow
        %p
          Upon examination, a physician will rule out other possible causes for the pain (isuch as a fracture or arthritis). If a diagnosis reveals Medial Epicondylitis is the culprit, icing and rest is typically recommended. In severe cases, surgery may be suggested. A physician may refer you to a massage therapist for further treatment. Qualified massage therapists will use deep tissue therapy focusing on the muscles of the forearm. A Married to Massage therapist will likely suggest proper stretching techniques and other self-care measures. If left untreated, chronic elbow pain and limited range of motion may ensue. Be patient as full recovery may take several months and frequent massage sessions.

        %h3 Prevention of Golfer's Elbow
        %p
          To prevent Golfer's Elbow, always warm up and stretch your muscles prior to work or physical activities. Have an expert in your field (such as a golf instructor) watch your form. Squeezing a tennis ball can also strengthen your forearms.

        image-right
          = image_tag('golfers-elbow-stretch.jpg', alt:'sports elbow massage')

        %h3 Closing Notes:
        %p
          After speaking with your doctor and health insurance provider, it may be determined that your massage treatment is covered under your medical coverage. If this is the case, inform your Married to Massage therapist and a receipt will be emailed to you to submit to your insurance company. While we do not accept insurance at this time,
          %span.purple we do accept HSA cards
          for your convenience.
        %p
          For focused massage therapy on the affected areas and to realize the benefit of a full-body massage, it is recommended that you
          =link_to "schedule a 90-minute Diamond-Grade Deep Tissue & Bodywork session", "https://www.massagebook.com/IndependentMassageAlliance?src=external#booknow651016", target: "_blank"


    =link_to "Reserve Now", "https://www.massagebook.com/IndependentMassageAlliance?src=external#booknow651016", target: "_blank", class: "button"

    = render 'layouts/addto'