- @title = "Frozen Shoulder Syndrome"
%div{id: @title}

	%section.clearfix{role: "top"}
		%article.clearfix
			%h1.lined Massage for Frozen Shoulder Syndrome
			.textblock
				.image-left
					= image_tag('shoulder-massage.jpg', alt:'Frozen Shoulder Massage')
				%p
					Experiencing shoulder pain and restricted movement just washing your hair? A doctor's exam may reveal that you have Adhesive Capsulitis (commonly known as Frozen Shoulder) which typically is noticed as a slow onset. While treatment plans are as invasive as surgery (depending on the severity of the case), your doctor may prescribe massage therapy to relieve your shoulder pain and improve your range of motion.
				%p
					A Married to Massage qualified massage therapist will use a variety of techniques to improve the blood flow to the affected shoulder area, release scar tissue, relieve muscle spasms and reduce muscle tension. Massage modalities to improve your condition include: Deep Tissue, Trigger Point and heat therapy. Be patient because even with treatment, full recovery may not be accomplished for 12 to 18 months. The sooner treatment is started, the earlier your condition will improve as there will be less scar tissue forming.
				%p
					Experts are still unclear as to what causes Frozen Shoulder, however, there are certain population groups that are more susceptible to the condition:
					%ul
						%li those suffering from diabetes, strokes, thyroid issues, or cardiovascular disease
						%li those who had to have their arm immobilize for long periods of time due to injuries (such as a broken arm)
						%li more common in women than men
				%p
					There are three stages of Frozen Shoulder:
					%ol
						%li Acute Stage: The most painful stage (especially at night) with limited range of motion
						%li Adhesive Stage: Very limited range of motion. Still painful but pain is not increasing at this stage.
						%li Thawing Stage: Shoulder movement begins to improve. Some pain but improving
				%p
					When scheduling your massage to improve your frozen shoulder condition, you may wish to
					=link_to "reserve a 90-minute Diamond-Grade Deep Tissue session", "https://www.massagebook.com/IndependentMassageAlliance?src=external#booknow651016", target: "_blank"
					to benefit from the focus of your shoulder and a full-body treatment.
				%p
					After a conversation with your doctor and health insurance company, you may determine that you are covered under your policy for massage therapy to treat your frozen shoulder. If this is the case, please advise your Married to Massage therapist and a receipt will be issued via email to you for insurance submission. We do not accept insurance payments at this time, however,
					%span.purple we do accept HSA cards
					for your convenience.

				=link_to "Reserve Now", reserve_path, target: "_blank", class: "button"

				= render 'layouts/addto'