- @title = "GiftCertificates"
%div{id: @title}
  %section.clearfix{role: "top"}
    %article
      .block
        %h1
          Gift Certificates
          %br
          %span for purchase in studio or online:

        .ext-logo.giftcerts
          =link_to "Buy a Gift Certificate Now", "https://www.massagebook.com/Sacramento~Massage~IndependentMassageAlliance?src=external#gift-certificates", target: "_blank"


      .block
        .ext-logo.spafinder
          %h3 We also accept SpaFinder:
          = image_tag("ext-logo-spafinder-wellness365.png", alt:'we accept spafinder')