- @title = "Gift_Certificates"
%div{id: @title}
	%section.clearfix{role: "top"}
		%article
			%h1 
				Gift Certificates
				%span for purchase in studio or online through SpaFinder

	    	.ext-logo.spafinder
        		=link_to(image_tag("ext-logo-spafinder-wellness365.png"), "https://www.thegiftcardcafe.com/cart/index.php?storeID=6872")

