- @title = "GuestBook"
%div{id: @title}
  %section.clearfix{role: "top"}
    %article
      .ext-logo.guestbook
        =link_to(image_tag("guestbook.png"), "http://visitor.r20.constantcontact.com/manage/optin?v=001dJYGlArwflRl0IlQ6EfjFZ1ScOF5UYo95M0DyeDw4MBlg0DskCal_g7ajTrlvwfqRjAy-ISGdy2KDyLPDYCj7PmHjkobh78IDg4RHBGML9w87ZvzCw6ZdFKfeZjiqMxOj4DE6I7ExKddryw4sqx-wsIK93SGFxgqn3lKu3rETza9XcAckDMSlg%3D%3D")

      %h1 Click the GuestBook to Register to receive interesting news, health & wellness information, and EXCLUSIVE Married To Massage promotions!