- @title = "Home"
/ - @centerLat = 39.455979001700186
/ - @centerLng = -94.69529270222164
/ - @zoom = 4

%div{id: @title}
  %section.clearfix{role: "main"}
    %article.slider.clearfix
      .slide.placeholder-for-video
        .centered
          %h1.black Stability is our Mission
          %h2.white Network + Neutrality = Netrality
          .play-button=link_to "Watch Video", "https://www.youtube.com/watch?v=q2xhGvf1630&"

  %section.clearfix{role: "intro"}
    %article.intro
      .container-div
        .left
          .intro-pic=image_tag ('building-home.jpg')
        .left
          %h1 What makes a Netrality property?
          %p Netrality Properties integrates the ownership of carrier hotel real estate and the development and operation of network-neutral "Meet Me Room" environments with no monthly recurring charges for cross connections providing long-term stability for its clients. Netrality is a joint venture operated by affiliates of Amerimar Enterprises and Hunter Newby.
          %p Netrality is derived from two words: "Network" and "Neutrality". First and foremost, we are in the real estate business, yet, we have the expertise to understand the critical nature of our interconnection facilities and the critical importance of real estate for network operators. Maintaining neutrality and growing the critical mass as well as cultivating the network communities within our facilities are of the highest importance to Netrality. Netrality is truly network-neutral. Netrality is committed to being a landlord and only a landlord. Netrality does not compete with our customers for the sale of network or cloud services.

