- @title = "Home"

%div{id: @title}
  %section.clearfix{role: "main"}
    %article.slider.clearfix
      .storyboard
        .slide.placeholder-for-video
          .play-button=link_to "Watch Video", "https://www.youtube.com/watch?v=q2xhGvf1630&"

  %section.clearfix{role: "intro"}
    %article.intro
      .flex-container
        .flex-item.mobilenoshow
          =image_tag ('http://placehold.it/350x150')
        .flex-item.mobilenoshow
          =image_tag ('http://placehold.it/350x150')
        .flex-item.with-type
          %h1 
            %span
              %i What makes a 
            %br
            Netrality property?
          %p Netrality Properties integrate real estate ownership and network-neutral technology to provide long-term stability for our clients.
          %p Netrality is a joint venture operated by affiliates of Amerimar Enterprises and Hunter Newby.

