- @title = "Home"

%div{id: @title}
  %section.clearfix{role: "main"}
    %article.slider.clearfix
      .storyboard
        .slide.placeholder-for-video
          .play-button=link_to "Watch Video", "https://www.youtube.com/watch?v=q2xhGvf1630&"

  %section.clearfix{role: "intro"}
    %article.intro
      .container-div
        .col3.mobilenoshow
          =image_tag ('fiber-fp.jpg')
        .col3.mobilenoshow
          =image_tag ('325-hudson-fp.jpg')
        .col3.with-type
          %h1 
            %span
              %i What makes a 
            %br
            Netrality property?
          %p Netrality Properties integrate real estate ownership and network-neutral technology to provide long-term stability for our clients.
          %p Netrality is a joint venture operated by affiliates of Amerimar Enterprises and Hunter Newby.

