- @title = "Home"

/ #loader
/   = image_tag ('loader-gif.gif'), id: "loader-gif"

%div{id: @title}
  %section.clearfix{role: "main"}
    %article.intro
      .flex-container
        .flex-item.mobilenoshow
          =image_tag ('http://placehold.it/350x150')
        .flex-item.mobilenoshow
          =image_tag ('http://placehold.it/350x150')
        .flex-item.with-type
          %h1 
            %span
              %i When You Are In Pain 
            %br
            Trust Married To Massage
          %p We are committed to your health and well-being. We use the most vetted techniques to loosen sore muscles, sooth pinched nerves, calm inflamed joints and bring you back to your peak.

