- @title = "Plantar Fasciitis"
%div{id: @title}

	%section.clearfix{role: "top"}
		%article.clearfix
			%h1.lined
				Massage for Plantar Fasciitis
				%br
				%span.small (Plantar Heel Pain Syndrome: PHPS)
			.textblock
				.image-right
					= image_tag('plantar-fasciitis.jpg', alt:'Plantar Heel Pain Syndrome Massage')
				%p
					Arguably the most common complaint that orthopedic doctors encounter is Plantar Fasciitis. When patients complain of sharp (and sometimes dull) pain felt in the heel of the foot that is typically most painful in the morning, doctors suspect Plantar Heel Pain Syndrome (PHPS) and begin the process of diagnosing. Plantar fascia acts as a shock absorber for the arch of the foot when working properly but when the ligaments are strained, pain develops.

				%h4 Plantar Fasciitis can develop under a number of conditions:
				%p
					%ul
						%li long-distance running
						%li those with high or low arches
						%li wearing shoes with little arch support
						%li those with tight Achilles tendons
						%li late stage pregnancy
						%li those who are on their feet a lot
						%li those who are overweight
				%p
					While your doctor may suggest a number of different treatments, he or she may suggest a Deep Tissue massage performed on the affected areas (soft tissue of the foot and calf muscles). A Diamond-Grade deep tissue massage incorporating trigger-point therapy and coupled with recommended self care techniques, may be enough to realize relief. If the condition is ignored, chronic issues may develop in the knees, legs, hips and back.
				%p
					After speaking with your doctor and health insurance provider, it may be determined that your massage treatment is covered under your medical coverage. If this is the case, inform your Married to Massage therapist and a receipt will be emailed to you to submit to your insurance company. While we do not accept insurance at this time,
					%span.purple we do accept HSA cards
					for your convenience.
				%p
					For focused massage therapy on the affected areas and to realize the benefit of a full-body massage, it is recommended that you
					=link_to "schedule a 90-minute Diamond-Grade Deep Tissue & Bodywork session", reserve_path, target: "_blank"

				=link_to "Reserve Now", reserve_path, target: "_blank", class: "button"

				= render 'layouts/addto'