- @title = "Reservation"
%div{id: @title}
	%section.clearfix{role: "top"}
		%article
			%h1 Make Your Reservation for a Massage with Katrina Today!

			=link_to "Make A Reservation", reserve_path, class: "button", :target => "_blank"

			= render 'layouts/addto'