- @title = "Reservation"
%div{id: @title}
	%section.clearfix{role: "top"}
		%article
			%h1 Make Your Reservation for a Massage with Katrina Today!

			=link_to "Make A Reservation", "https://server19.securedata-trans.com/ap/massagebybrie/index.php?page=10", class: "button", :target => "_blank"