- @title = "Massage for Runner's Knee"
%div{id: "runners-knee"}

  %section.clearfix{role: "top"}
    %article.clearfix
      %h1.lined Massage for Patellofemoral Pain (PFPS): Runner's Knee
      .textblock
        .image-right
          = image_tag('runners-knee.jpg', alt:'Runners Knee Massage')

        %h3 Symptoms and Risk Factors for Runner's Knee:
        %p
          If you are experiencing pain on the anterior side and back of your knee cap and/or a grinding sensation when bending, you may be experiencing symptoms of Patellofemoral Pain commonly referred to as Runner's Knee. It has been said that it is the most common overuse injury among runners. This condition does not, however, limit its symptoms to just runners. Others at risk for PFPS include: basketball players, cyclists and weight trainers. Both adolescents and the elderly are at risk as well. If you have low or high arches you are at a higher risk as this can move the patella (knee cap). Those with wider hips are at a greater risk with the angling relationship between the thigh and knee. Because those who have wider hips are at a greater risk, the condition affects twice as many women as men.
        %h3 Activities that aggravate the Runner's Knee Condition:
        %ul
          %li Sitting for long periods of time such as long car rides
          %li Going up and down stairs or hills
          %li Worn shoes or inappropriate shoes

        %h3 Prevention of Runner's Knee:
        %ul
          %li Purchase the proper shoes for your activity and your arches
          %li Strengthen your quad muscles which will improve your knee cap tracking
          %li Stretch your hamstrings and gastrocs (calf muscles) to prevent foot over pronation
        %h3 Treatment of Runner's Knee
        %p
          Upon your doctor's examination, surgery may be suggested to treat your Runner's knee however this invasive treatment is rare. You may be referred to a physical therapist who is trained in knee taping as this has been proven to help so that you may continue activities with less pain. Your qualified massage therapist will perform myofascial release, trigger point and cross-friction therapy and passive stretching that will aid in recovery. Common areas that will be addressed in your massage session are the IT band, quadracepts, hamstrings, gastrocos and patellar regions. Resting will be encouraged although exercise is still recommended. It may be suggested that mileage be reduced. Icing to reduce inflammation may also be indicated as part of your treatment plan.

        %p
          To schedule your massage treatment for Runner's Knee, please reserve your medical massage by
          =link_to "scheduling a Diamond-Grade Deep Tissue massage appointment", "https://www.massagebook.com/IndependentMassageAlliance?src=external#booknow651016", target: "_blank"
          with with Katrina at Married to Massage at her Sacramento massage studio in Midtown. If you would are looking for a full-body massage with focus for Runner's Knee, it is advisable to schedule a 90-minute massage treatment session.

          %span.purple we do accept HSA cards for your convenience.

        =link_to "Reserve Now", reserve_path, target: "_blank", class: "button"

        = render 'layouts/addto'