- @title = "Schedule"
%div{id: @title}
	%section.clearfix{role: "top"}
		%article.clearfix
			%h1.lined Scheduling Massage Services
			.badge-logo
				= image_tag('m2m-badge.png')
			.textblock
				
				%h3 If Katrina's schedule is blocked for the time in which you were hoping to book, please call, email, or text her. 
				%p 
					She wants to accommodate you if possible.

				= image_tag "payment.png", :class => "payment"

				%p
					Visa and Master Cards are accepted as well as Health Savings Cards!

				=link_to "Reserve Now", "https://booknow.appointment-plus.com/3hb2r1jv/", target: "_blank", class: "button"
 
				%h2 
					PLEASE RESPECT OUR PROFESSION
					%br
					WE RESERVE THE RIGHT TO REFUSE SERVICE TO ANYONE
 
				%h2 Cancellation Policy: 
				%p	
					We understand that unanticipated events happen occasionally in everyone’s life. In our desire to be effective and fair to all clients, the following policies are honored:
				%ul 
					%li  24 hour advance notice is required when cancelling an appointment. This allows the opportunity for someone else to schedule an appointment. If you are unable to give us 24 hours advance notice you will be charged the full amount of your appointment. This amount must be paid prior to your next scheduled appointment.
					%li No-shows: Anyone who either forgets or consciously chooses to forgo their appointment for whatever reason will be considered a “no-show.” They will be charged for their missed appointment same as above.
					%li Late Arrivals: If you arrive late, your session may be shortened in order to accommodate others whose appointments follow yours. Depending upon how late you arrive, your therapist will then determine if there is enough time remaining to start a treatment. Regardless of the length of the treatment actually given, you will be responsible for the “full” session. Out of respect and consideration to your therapist and other customers, please plan accordingly and be on time.
 
				%h3 Katrina of Married to Massage in Sacramento, CA looks forward to serving you!