- @title = "Sciatica"
%div{id: @title}

	%section.clearfix{role: "top"}
		%article.clearfix
			%h1.lined What is Sciatica Massage?
			.textblock
				.image-left
					= image_tag('thumb-massage1.jpg', alt:'Sciatica Massage')
				%p
					Massage relieves your nerve, leg and back pain and can also stimulate circulation, improve mobility, release tension, and help the body to heal itself naturally. Spinal manipulations may increase movement in the lower back and relieve the pain caused by a compressed sciatic nerve. Stretching is another way to release the compression of the nerve roots, and massages that include assisted stretching can be highly effective in relieving sciatic pain. So schedule your Sciatica Massage in Sacramento, Ca with Katrina today!

				=link_to "Reserve Now", "https://www.massagebook.com/IndependentMassageAlliance?src=external#booknow651016", target: "_blank", class: "button"

				= render 'layouts/addto'