- @title = "Sciatica"
%div{id: @title}

	%section.clearfix{role: "top"}
		%article.clearfix
			%h1.lined Massage for Sciatica Condition: Piriformis Syndrome
			.textblock
				.image-left
					= image_tag('piriformis massage.jpg', alt:'Sciatica Massage', class: 'sciatica-img')
				%p
					Your sciatic nerve is the longest nerve in your body starting in your lower back and extending down your leg. A variety of circumstances (such as sitting for long periods of time or pregnancy) can compress the sciatic nerve causing shooting pain down your leg, weakness or numbness. After determining the cause of your sciatic-like symptoms with your physician, you may be referred to a qualified massage therapist to relieve tight muscles in the gluteal region such as the piriformis muscle. A Married to Massage therapist will perform techniques specific to piriformis release. The massage therapist will also likely perform appropriate stretches and recommend self-care strategies.

				%p
					Stretching is another way to release the compression of the nerve roots, and massages that include assisted stretching can be highly effective in relieving sciatic pain. So schedule your Sciatica Massage in Sacramento, CA with Katrina today!

				%p
					When scheduling a service to address your sciatic issues at Married to Massage, you have the option to choose from one of three services: a Diamond-Grade Deep Tissue Massage, Register to Relax or Vow to Relax Massage. If you suspect that the majority of the massage will be concentrated on sciatica relief but still would like to experience a full-body massage, a 90-minute treatment may be your best option.

				.clearfix
				.image-left
					= image_tag('sciatica-leg-image.jpg', alt:'Sciatica Massage', class: 'sciatica-img')

				%p
					Upon your request, an appropriate receipt may be emailed to you after your treatment to submit to your health insurance provider. Your massage treatment may be covered under your health care insurance policy with a doctor's note
					%span.purple We accept HSA cards
					for your convenience.

				=link_to "Reserve Now", reserve_path, target: "_blank", class: "button"

				= render 'layouts/addto'