- @title = "Services"
%div{id: @title}

  %section.clearfix{role: "top"}
    %article.clearfix
      %h1.lined Menu of Massage Services Through Married to Massage
      .flourish
        =image_tag('flouish-light.png')
      .textblock
        %p 
          Married to Massage provides customized 90 and 60 minute massages packages. We offer client-acclaimed massage services in the Sacramento, CA area. Scheduling is a snap and Katrina always has your well-being at the forefront of her mind.
        %p
          All massages/bodywork treatments include therapeutic-grade essential oils and hot towels. And that they should expect a full 60 minute massage when they book an hour.
        %p
          Please respect our profession. We reserve the right to stop service at any time.
        %p
          Should you cancel or change within 24-hours of scheduled appointment reservation, you may be required to pay for the appointment and/or prepay for future appointments and/or forfeit your gift certificate.

        -# %dl.order-bar
        -#   %dt.service
        -#     =link_to "90 Minute Total Package Deal", "https://server19.securedata-trans.com/ap/massagebybrie/index.php?page=10"
        -#   %dd.price &#36;125
        -# %dl.order-bar
        -#   %dt.service
        -#     =link_to "90 Minute Total Massage Deal", "https://server19.securedata-trans.com/ap/massagebybrie/index.php?page=10"
        -#   %dd.price &#36;100
        -# %dl.order-bar
        -#   %dt.service
        -#     =link_to "60 Minute Total Massage Deal", "https://server19.securedata-trans.com/ap/massagebybrie/index.php?page=10"
        -#   %dd.price &#36;75
        %dl.order-bar
          %dt.service
            =link_to "Cherished Chair massage", "https://server19.securedata-trans.com/ap/massagebybrie/index.php?page=10"
          %dd.price 
            =link_to "Contact for Quote", contact_path, style: "color: white;"

    %article.more-menu
      .col-3

        .service-box
          .hex-icon
            =image_tag('diamond-hex.png')
          %h3 Diamond-Grade Deep-Tissue
          %p 
            Designed to remove severe tension, deep tissue massage is a technique used to relieve both muscles and connective tissue below the surface. It helps to improve range of motion using stretches designed to help your body feel freer and stronger. It is particularly great for those with active lifestyles.

          %dl.order-bar
            %dt.service
              =link_to "90 Minute Focus", "https://server19.securedata-trans.com/ap/massagebybrie/index.php?page=10"
            %dd.price &#36;97
          %dl.order-bar
            %dt.service
              =link_to "60 Minute Massage", "https://server19.securedata-trans.com/ap/massagebybrie/index.php?page=10"
            %dd.price &#36;77

        .service-box
          .hex-icon
            =image_tag('candle-hex.png')
          %h3 Registered for Relaxation
          %p 
            Massage oil or cream is used with smooth, gliding strokes. Swedish massage uses firm but gentle pressure to promote relaxation, ease muscle tension and create other health benefits. It is a classic massage that will ease your stress and allow you to slip into a calm state of relaxation.

          %dl.order-bar
            %dt.service
              =link_to "90 Minute Focus", "https://server19.securedata-trans.com/ap/massagebybrie/index.php?page=10"
            %dd.price &#36;87
          %dl.order-bar
            %dt.service
              =link_to "60 Minute Massage", "https://server19.securedata-trans.com/ap/massagebybrie/index.php?page=10"
            %dd.price &#36;67



        .service-box
          .hex-icon
            =image_tag('stone-hex.png')
          %h3 Vow to Relax
          %p Hot Stone Therapy melts away tension, eases muscle stiffness, and increases circulation and metabolism. This session incorporates soothing hot stones into the massage to allow for deeper relaxation. This is a perfect massage to end the work week with, allowing you to melts the stress away.

          %dl.order-bar
            %dt.service
              =link_to "90 Minute Focus", "https://server19.securedata-trans.com/ap/massagebybrie/index.php?page=10"
            %dd.price &#36;102
          %dl.order-bar
            %dt.service
              =link_to "60 Minute Massage", "https://server19.securedata-trans.com/ap/massagebybrie/index.php?page=10"
            %dd.price &#36;82

        .more-services
          %dl.order-bar
            %dt.service
              =link_to "New Client 60 Minute Relaxation Massage", "https://server19.securedata-trans.com/ap/massagebybrie/index.php?page=10"
            %dd.price &#36;57
          -# %dl.order-bar
          -#   %dt.service
          -#     =link_to "40 Minute Bikers Bum", "https://www.styleseat.com/marriedtomassage-sacramento-ca"
          -#   %dd.price &#36;47
          -# %dl.order-bar
          -#   %dt.service
          -#     =link_to "30 Minute Narley Neck & Shameful Shoulders", "https://www.styleseat.com/marriedtomassage-sacramento-ca"
          -#   %dd.price &#36;27
          -# %dl.order-bar
          -#   %dt.service
          -#     =link_to "40 Minute Proposal Pampering", "https://www.styleseat.com/marriedtomassage-sacramento-ca"
          -#   %dd.price &#36;37
