- @title = "Services"
%div{id: @title}

	%section.clearfix{role: "top"}
		%article.clearfix
			%h1.lined Menu of Massage Services Through Married to Massage
			.flourish
				=image_tag ('flouish-light.png')
			.textblock
				
				%h2 90 Minute Total Package Deal
				%p 
					Married to Massage provides customized 90 and 60 minute massage packages including Swedish, Shiatsu, Trigger Point and Reflexology modalities for maximum comfort and energy. We employ Aroma and Hydrothermal Therapies with Essential Oils. We offer client-acclaimed massage services to your door in the Sacramento, CA area. Scheduling is a snap and Katrina always has your well-being at the forefront of her mind.

				%dl.order-bar
					%dt.service
						=link_to "90 Minute Total Package Deal", "https://www.styleseat.com/marriedtomassage-sacramento-ca"
					%dd.price &#36;125
				%dl.order-bar
					%dt.service
						=link_to "90 Minute Total Massage Deal", "https://www.styleseat.com/marriedtomassage-sacramento-ca"
					%dd.price &#36;100
				%dl.order-bar
					%dt.service
						=link_to "60 Minute Total Massage Deal", "https://www.styleseat.com/marriedtomassage-sacramento-ca"
					%dd.price &#36;75
				%dl.order-bar
					%dt.service
						=link_to "Cherished Chair massage", "https://www.styleseat.com/marriedtomassage-sacramento-ca"
					%dd.price &#36;??

		%article.more-menu
			.col-3
				.service-box
					.hex-icon
						=image_tag('candle-hex.png')
					%h3 Registered for Relaxation
					%p A concentrated therapy to provide deep muscle pain relief, decrease inflammation and increase circulation. Treatments best suited for Back and Neck, Arms and Hands, and/or Legs and feet.

					%dl.order-bar
						%dt.service
							=link_to "90 Minute Focus", "https://www.styleseat.com/marriedtomassage-sacramento-ca"
						%dd.price &#36;120
					%dl.order-bar
						%dt.service
							=link_to "60 Minute Massage", "https://www.styleseat.com/marriedtomassage-sacramento-ca"
						%dd.price &#36;90
				.service-box
					.hex-icon
						=image_tag('diamond-hex.png')
					%h3 Diamond-Grade Deep-Tissue
					%p Sports or Medical? Needing deep tissue? Soothe tired and sore muscles as your mind, body and spirit are rejuvenated. This massage incorporates light to medium strokes intended to alleviate stress and increase blood flow.

					%dl.order-bar
						%dt.service
							=link_to "90 Minute Focus", "https://www.styleseat.com/marriedtomassage-sacramento-ca"
						%dd.price &#36;120
					%dl.order-bar
						%dt.service
							=link_to "60 Minute Massage", "https://www.styleseat.com/marriedtomassage-sacramento-ca"
						%dd.price &#36;90
				.service-box
					.hex-icon
						=image_tag('stone-hex.png')
					%h3 Vow to Relax
					%p Hot Stone Therapy melts away tension, eases muscle stiffness, and increases circulation and metabolism. This session features the placement of smooth basalt stones at key points on the body to allow for relaxsation of the muscles.

					%dl.order-bar
						%dt.service
							=link_to "90 Minute Focus", "https://www.styleseat.com/marriedtomassage-sacramento-ca"
						%dd.price &#36;120
					%dl.order-bar
						%dt.service
							=link_to "60 Minute Massage", "https://www.styleseat.com/marriedtomassage-sacramento-ca"
						%dd.price &#36;90

		.todo 
			Vow to Relax - 60 minute ($92.00)
			Vow to Relax - 90 minute ($112.00)
			Intro 60-min Relaxation  Massage ($57.00)
			LIVING SOCIAL Vow to Relax ($92.00)
			40 min Bikers Bum  ($47.00)
			30 min Diamond-Grade Deep Tissue/Sports  ($47.00)
			60 min Diamond-Grade Deep Tissue/Sports ($77.00)
			90 min Diamond-Grade Deep Tissue/Sports ($97.00)
			30 min Narley Neck &amp; Shameful Shoulders  ($27.00)
			40 min Proposal Pampering ($37.00)
			30 min Registered for Relaxation ($37.00)
			60 min Registered for Relaxation ($67.00)
			90 min Registered for Relaxation ($87.00)
			GROUPON Vow To Relax ($92.00)