- @title = "therapists"
%div{id: @title}

  %section.clearfix{role: "top"}
    %article.about
      .textblock
        %h1.lined
          Independent Massage Alliance Therapists
          %br
          at 902 21st St., Sacramento, CA 95811

        = image_tag('ksnoke.jpg', alt: "Katrina Snoke", class: "therapist-thumb")
        %h3.name Katrina Snoke of Married to Massage – CMT, CAMTC #7353
        %p
          As a certified massage therapist since 2008, Katrina has devoted herself to her client's health & well-being while growing her Married to Massage business. She is most complimented for her deep pressure and customer service skills. To enhance your massage experience, Katrina incorporates hot towels & stones as well as Young Living Therapeutic-Grade essential oils. She is happy to share her knowledge of self-care such as which stretches you may need to focus on. Katrina holds a California State Massage Certification (CAMTC) and graduated with honors from Bryan College with over 900 hours of hands-on training. While attending Bryan College, she was trained in several modalities: Swedish & Spa, Deep Tissue, Sports, Shiatsu, Thai, Pregnancy and Medical massage.

        =link_to "Reserve Now", reserve_path, class: "button"

        %hr.clear

        = image_tag('jbeemer.jpg', alt: "Jeffrey Beemer", class: "therapist-thumb")
        %h3.name Jeffrey Beemer, CMT, CAMTC Certificate #42806
        %p
          Jeff is a CA Certified Massage Therapist. His 3 goals in practice are to bring clients happiness, free his clients from suffering and to have joyful effort for these things. Jeff aims for a balanced approach of both technique and compassion. He provides on-site, corporate, social event and sports massages among other offerings.
          =link_to "Learn More", "https://sites.google.com/site/massagetherapysacramento/home"
          about Jeffrey Beemer.

        %hr.clear

        %h3.name Brie Storz of Massage By Brie
        %p
          Brie is a CA Certified Massage Therapist, Certified Prenatal Massage Therapist, Certified Labor Massage Therapist, Certified Massage Doula, as well as a Licensed Esthetician. She specializes in Prenatal Massage, Labor Massage, Deep Tissue Massage, Sports Massage, and Myofascial Release for pain problems. Whether you are looking to relax, relieve pain, relieve pain from Carpal Tunnel Syndrome, Fibromyalgia, or other chronic pain problems, relieve stress, relieve headaches & migraines, recover from an injury or surgery, prepare for your next big sports event, or need relief from pregnancy back pain & labor pains, she can assist you with your Massage needs.

        %hr

        %h3.name Christine Eden-Graves of Tranquil Body and Mind (TB&M)
        %p
          Christine Eden-Graves of Tranquil Body and Mind, is a Certified Massage Therapist, and also a former co-worker of Brie's. She is also a Clinical Ayurvedic Specialist. She completed 600 massage hours at Bryan College in Gold River, 150 hours of Acupressure at the Acupressure Institute in Berkeley, and studied Ayurveda at the California College of Ayurveda in Grass Valley. She currently attends Sacramento City College, to further her education to eventually become a Physical Therapist. She enjoys making people feel better by utilizing her intuition and bodywork skills. Her approach to a massage session depends on the client's needs and wants, which usually always entails a therapeutic approach.

        %hr

        = render 'layouts/addto'