- @title = "therapists"
%div{id: @title}

	%section.clearfix{role: "top"}
		%article.about
			.textblock
				%h1.lined
					Therapists at 902 21st Street
					Sacramento, CA 95816

				.name Katrina Snoke of Married to Massage (M2M)
				.name Brie Storz of Massage By Brie
 				.name Christine Eden-Graves of Tranquil Body and Mind (TB&M)
 
