- @title = "TMJ"
%div{id: @title}

	%section.clearfix{role: "top"}
		%article.clearfix
			%h1.lined What is TMJ Massage?
			.textblock
				.image-left
					=image_tag ('thumb-tmj.jpg')
				%p
					Most of the pain associated with your TMJ (the temporomandibular joint, where your skull and lower jawbone meet) can be treated without surgery. Massage is one effective technique to combat the cause of TMJ disorders. Whether the pain comes from a jaw injury, arthritis, or simply the fatigue from repeatedly grinding or clenching your teeth, regular massage therapy can make a difference.
				%p
					Teeth-clenching and grinding lessened when the masseter muscles of the face are massaged. This also 
					=link_to "relieves stress.", benefits_path
				%p	 
					Massage therapy has proven remarkably effective for stress relief. It results in lower levels of cortisol, the stress hormone, while increasing oxytocin and serotonin which act as mood relaxers. Giving your body the experience of being truly relaxed makes it easier to recreate that sensation in everyday life. So schedule your TMJ Massage in Sacramento, Ca with Katrina today!
					

				=link_to "Reserve Now", "https://server19.securedata-trans.com/ap/massagebybrie/index.php?page=10", target: "_blank", class: "button"