- @title = "TMJ"
%div{id: @title}

	%section.clearfix{role: "top"}
		%article.clearfix
			%h1.lined What is Interoral TMJ Disorder Massage?
			.textblock
				.image-right
					= image_tag('thumb-tmj.jpg', alt:'TMJ massage')
				%p
					Most of us have heard of TMJ (temporal-mandibular joint) Disorder involving the jaw. Our jaw muscles can apply 150 pounds of pressure and, on average, opens and closes at least 2000 times daily! Knowing that, it isn't hard to believe that an estimated 10 million Americans suffer today with this condition.

				%h4 TMJ Disorder Symptoms can include:
				%ul
					%li Temporal Headaches
					%li Restricted Jaw Mobility accompanied with pain
					%li Dizziness
					%li Awakening with Jaw Pain
					%li Facial Pain
					%li Noises like Clicking when opening and closing jaw
				%h4 Known TMJ Disorder Causes:
				%ul
					%li Stress & Anxiety
					%li Teeth Grinding
					%li Whiplash
					%li Misaligned Teeth

				%p
					Teeth-clenching and grinding lessened when the masseter muscles of the face are massaged. This also
					=link_to "relieves stress.", benefits_path

				.image-left
					= image_tag('tmj.jpg', alt:'TMJ massage')

				%h2 Massage Therapy for Treatment for TMJ Disorder
				%p
					Massage is one of several therapies that may lead to the successful treatment of TMJ disorder. While wearing sterile gloves, the trained massage therapist will perform an Interoral (inside the mouth) treatment using trigger point therapy and muscle stripping massage techniques specific to the jaw tissues. The treatment also includes massaging neck and scalp muscles as well as the pectoral muscles which all may contribute to the condition. Each session typically lasts 40 minutes and may be upgraded to a full 60 minute massage service to assist in a full relaxation experience for an additional fee. Depending on the severity of the case, regular weekly treatments may be advised.
				%p
					The trained massage therapist will likely suggest self-care techniques and explain what to expect in the following two days after treatment. It's common to experience some pain and tenderness for two days following a treatment but icing the affected area can help. Specific stretches of the affected areas may also be recommended. Typically it is advised that the client suffering from TMJ Disorder cease gum and ice chewing.
				%p
					Massage therapy has proven remarkably effective for stress relief. It results in lower levels of cortisol, the stress hormone, while increasing oxytocin and serotonin which act as mood relaxers. Giving your body the experience of being truly relaxed makes it easier to recreate that sensation in everyday life. So schedule your TMJ Massage in Sacramento, Ca with Katrina today!

				.image-right
					= image_tag('tmj-causes.jpg', alt:'TMJ massage')

				%h4 Closing Notes:
				%p
					This article is for educational purposes only and not intended to diagnose a condition. Please visit with your health care professional for diagnosis and to explore all treatment options. Many physicians are now prescribing massage Should your doctor prescribe massage for a condition, you may request a receipt from Married to Massage to submit to your health insurance company. Speak with your insurance company to be sure the treatments are covered. For your convenience, Married to Massage also accepts HSAs (Health Savings Account) cards.

				=link_to "Reserve Now", "https://www.massagebook.com/IndependentMassageAlliance?src=external#booknow651016", target: "_blank", class: "button"

				= render 'layouts/addto'