- @title = "Venue"
- @grouping = "Location"
- @centerLat = 38.577521
- @centerLng = -121.478166
- @zoom = 13
%div{id: @title}
	%section.clearfix{role: "top"}
		%article.map
			.map-container
				#map
					=image_tag ('map-img.png')

		%article#info
			%h1 Located in Sacramento Midtown
			%address
				%p 
					902 21st Street 
					%br
					(Corner of 21st & I)
					%br
					Sacramento, CA 95811
			.info
				%p Free 2 hour Parking on I Street
				%p Located just a few short blocks from the Sacramento Convention Center Complex and McKinley Park
				%p 
					Massages are 
					%b by appointment only

				=link_to "Reserve Now", "https://server19.securedata-trans.com/ap/massagebybrie/index.php?page=10", target: "_blank", class: "button"
				
				%p Please note that this studio location is located on the upper level and requires that you climb steps.

			.building
				=image_tag('902-21-midtown.png')
			.signage
				=image_tag('street-sign.jpg')
