- @title = "YLEO"
%div{id: @title}
	%section.clearfix{role: "top"}
		%article.about
			.textblock
				%h1.lined Why Young Living Essential Oils?

				%p Essential oils have been used for thousands of years for their health, cosmetic, and emotionally uplifting properties. Young Living has always been at the forefront of bringing this ancient tradition to modern users, introducing millions to a total mind/body wellness they may never have dreamed possible.

				.video
					%iframe.youtube{:allowfullscreen => "", :frameborder => "0", :src => "https://www.youtube.com/embed/ZLwmzSAibjk"}

				%p.join
					To learn more about the benefits of Young Living Essential Oils or to place an order 
					=link_to "contact Katrina, YLEO Associate #1070592", "https://www.youngliving.org/KSNOKE"
					and join our Meetup Group 
					=link_to "The Northern California Young Living Essential Oils Meetup Group", "http://www.meetup.com/The-Nor-Cal-Young-Living-Essential-Oils-Meetup-Group/"