- provide(:title, 'Announcements')
#News#Announcements
  %section.clearfix{role: "top"}
    %article
      - @announcements.each do |announcement|
        .post
          %h1= announcement.title
          .announcement
            = announcement.content.html_safe
            -if announcement.external_link
              %p= link_to 'Read More »', announcement.external_link, class: 'link', :target => "_blank"
            -# %span.dateline
              -# Published
              -# = announcement.published_at
      =paginate @announcements