- @title = "Houston"
- @grouping = "Location"
- @centerLat = 29.753536
- @centerLng = -95.365771
- @zoom = 12
%div{id: @title, role: "city"}

	%section.clearfix{role: "top"}
		%article.map
			.map-container
				#map
					=image_tag ('location-detail-map.png')
					
				.container-div.left
					=image_tag ('1301-fannin-vert.jpg')
					.button.blue=link_to "1301 Fannin Brochure", "1301-fannin-brochure.pdf" 

		.clear
		%article.locale-details
			%h2.blue.lined Meet Me Room | The Netrality Point at 1301 Fannin Street 

			.clear
			#city-slider.container-div

				.slide
					.pic=image_tag ('connect-thumb.jpg')
					%h3 Connectivity
					%ul
						%li Carrier-Neutral, building-owned and managed Meet Me Room
						%li No monthly recurring cross-connect fees
						%li Primary Fiber Loop in CBD located along Fannin adjacent to the building
						%li All providers have redundant points of entry & Redundant systems
				.slide
					.pic=image_tag ('data1.png')
					%h3 Infrastructure
					%ul
						%li Primary MEP system located on Levels 13 & 13.5
						%li Rollover Switch located on Level 2
						%li Data Floor live-load – 150 psf*
						%li Data Floor Clear Height 16’ (slab to deck)
						%li 18” Raised Flooring throughout data floors
						%li Hurricane rated windows (200 mph)
						%li Largest active bank vault in Texas
				.slide
					.pic=image_tag ('electrical-thumb.jpg')
					%h3 Electrical
					%ul
						%li Two Diverse electrical feeds from Polk St. (redundancy)
						%li Six 3,000 KVA transformers (16 megawatts of power)
						%li 2,000 KVA UPS system (supports all building systems & Tenant critical loads)
						%li Ten 1,040-2,000 KW diesel generators synchronized by parallel switching systems in two separate generator farms
						%li 70,000 gallon fuel supply for backup generators, consisting of a 60,000 gallon underground tank and 10,000 gallons in day tanks throughout the building
						%li Two Electrical risers capacity exits to add additional backup generators and chillers
						%li Existing tenant generator and pad sites also available outside the building system

				.slide
					.pic=image_tag ('cooling-thumb.jpg')
					%h3 Cooling
					%ul
						%li Four 1,200 Ton Chillers (one redundant) backed up by emergency generators and UPS
						%li Two Cooling Towers (one redundant)
						%li Three Chilled Water risers
						%li Redundant Cooler Tower for low rise Floors (Flrs 7-12)
						%li Multi-zone HVAC system controlled by building
						%li Automation system (2 AHUs per floor in High Rise 4 /AHUs per floor in Low Rise)
						%li Ability to tap in to Entergy Chilled Water loop downtown if needed
				.slide
					.pic=image_tag ('racks-thumbs.jpg')
					%h3 Security
					%ul
						%li 24 Hour patrolled system – minimum of 3 officers on-site 24/7
						%li 24 Hour digital camera surveillance system (31+ building cameras)
						%li Programmable after hours card key building access
						%li Restricted card key access to data floors at all times 
			.clear

%script{src: "slick/slick-init.js"}