- @title = "Locations"
- @centerLat = 37.455979001700186
- @centerLng = -85.69529270222164
- @zoom = 4
- @grouping = 'LineNav'

%div{id: @title}
	%section.clearfix{role: "top"}
		%article.map
			.map-container
				#map
					=image_tag ('map-img.png')
				.container-div.left
					%h1 Where is Netrality?
					%p 
						Netrality is strategically located throughout the continental United States in order to provide the best colocation and interconnection services to our customers. Netrality Properties are currently located in New York City, Kansas City, Chicago, and Philadelphia. Through its diverse geographic locations, Netrality is able to provide efficient solutions for customers in multiple critical locations, both locally and globally.

					%ul.dark-blue
						%li=link_to 'Chicago – 717 South Wells Street', chicago_path
						%li=link_to 'Houston, TX - 1301 Fannin Street', houston_path
						%li=link_to 'Kansas City – 1102 Grand Street', kansas_city_path
						%li=link_to 'New York – 325 Hudson Street', new_york_path
						%li=link_to 'Philadelphia – 401 North Broad Street', philadelphia_path