- @title = "Leadership"
- @grouping = "About"
%div{id: @title}
	%section.clearfix{role: "top"}
		%article.leadership
			.container-div
				.leader.clearfix
					.person-thumb 
					.copy
						%h6.name Gerald M. Marshall
						%h6.person-title President and Chief Executive Officer
						%p Oversees the acquisition, financing, redevelopment and disposition of the company’s portfolio. Jerry is an active member in the Big Apple Chapter of World Presidents Organization (WPO). Jerry is also Co-Chairman and Chief Executive Officer of Amerimar Enterprises, Inc. Prior to joining Amerimar in 1988, Jerry was with Dean Witter Realty, Inc., where he focused on real estate acquisitions, development and management. Jerry holds a Bachelor’s degree from The University of Texas with a major in real estate and an MBA from The Wharton School of the University of Pennsylvania with a concentration in finance.

				.leader.clearfix
					.person-thumb 
					.copy
						%h6.name Joshua W. Maes
						%h6.person-title Chief Operating Officer
						%p Responsible for acquisitions, financing activities, and asset management - including executing redevelopment projects and overseeing the business development team. Josh also holds the title of Senior Vice President with Amerimar Enterprises, where he is responsible for sourcing and executing new transactions across all target markets and asset classes.  Prior to his tenure with Amerimar, Josh worked for Onex Real Estate Partners, where he was involved in the acquisition and asset management of the firm’s multifamily portfolio of nearly 15,000 units, which included 40 properties in New York City, and over 40 properties throughout the Mid-Atlantic and Florida, with a total value of more than $1.5 billion. Josh holds a Bachelor of Arts degree from the University of Pennsylvania.

				.leader.clearfix
					.person-thumb
					.copy
						%h6.name Hunter Newby
						%h6.person-title Chief Strategy Advisor
						%p 
							Responsible for overseeing the strategic direction of the company, including marketing and business development. Hunter Newby is a communications network business and real estate investor and developer with a highly successful track record of creating value. He is the Founder, CEO and a Director of Allied Fiber. From 2000 to 2008, he was the Chief Strategy Officer and a Director of The Telx Group, Inc., one of the leading carrier hotel interconnection facility operators in the U.S. Under Mr. Newby's direction, Telx successfully created an entirely new business model originating in New York City, expanding to Atlanta and ultimately nationwide and in the process built one of the strongest brand names for carrier-neutral, core interconnection facilities in the world. Mr. Newby is a recognized authority in the industry, has served on several Advisory Boards, is a published author, public speaker and the recipient of numerous awards including being named to the Global Telecoms Business Top 40 Under 40 in 2010. Hunter holds a Bachelor of Science degree from Drexel University. For more information please visit
							=link_to "www.hunternewby.com", "http://www.hunternewby.com", class: 'link-blue'

				.leader.clearfix
					.person-thumb
					.copy
						%h6.name Karen Oruska
						%h6.person-title Chief Accounting Officer
						%p Responsible for managing all general accounting functions, financial reporting to partners and lenders, coordination of the annual budgeting process, planning and coordination of the annual financial audits with external accounting firms and oversight of the human resources function. Additionally, Karen ensures that Netrality’s accounting policies and procedures are implemented across the portfolio for consistent, accurate and in-depth reporting. Karen is also the CFO of Amerimar Enterprises, Inc.  Karen is a graduate of St. Joseph’s University. Prior to joining Amerimar, Karen spent time as an auditor at Ernst & Young and an accounting manager for a real estate developer of historically certified properties.

				.leader.clearfix
					.person-thumb 
					.copy
						%h6.name Dave Hagan
						%h6.person-title Vice President
						%p Dave has asset management responsibilities for Netrality’s portfolio. He facilitates property acquisitions, financings and dispositions, as well as oversees management and leasing and implements property re-positioning initiatives.  Previously, Dave was with CW Capital in Washington D.C. where he managed 9.5 million square feet of office and industrial properties throughout the United States. Dave holds a BE in Civil Engineering from Vanderbilt University and received his MBA from Northwestern University - Kellogg School of Management in Real Estate, Finance and Marketing.

				.leader.clearfix
					.person-thumb 
					.copy
						%h6.name Enrique Menocal
						%h6.person-title Aquisitions
						%p Responsible for acquisitions, including quantitative analysis, coordinating the due diligence process and assisting with the asset management of various telecom properties within the Netrality portfolio. Enrique is also an AVP with Amerimar Enterprises and is based in Miami, FL. Enrique graduated from the Wharton School of the University of Pennsylvania in 2007 with concentrations in Finance and Real Estate. 
