- @title = "Why Netrality?"
- @grouping = "About"
%div{id: @title}
	%section.clearfix{role: "top"}
		%article.why
			.container-div.top-border
				.left.half
					%figure.content-video
						= image_tag ('history-wall.jpg')
						%figcaption Meet Me Area at 325 Hudson
					%h3 What Makes Us Different?
					%ul
						%li Netrality customers have colocation license agreements directly with the owner of the building. What benefits does this afford a Netrality customer that other colocation operators cannot provide? 
						%li Netrality customers don’t have to worry about their colocation operator’s lease expiration causing an unforeseen increase in operating costs OR being forced to move due to a non-renewal.
						%li Do you need to pull more fiber into the building? Talk to us. We own the building and can make that happen. There are no other parties with which to negotiate. Do you want to add a microwave dish on the roof? Talk to us. It’s our roof, so we can make that happen.
				.left.half
					%figure
						= image_tag ('datacenter.jpg')
						%figcaption Meet Me Room at 325 Hudson
					%h3 Truly Carrier Neutral
					%ul
						%li We are committed to being a landlord and only a landlord. 
						%li $0 MRC on cross-connects for the duration of our customer’s agreements. 
						%li We do not compete with our customers for the sale of network or cloud services. 
						%li We specialize in urban carrier hotels. We don’t own suburban data centers.
