@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box-size-border { 
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;    
  box-sizing: border-box;         
}

@mixin flex-box {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@charset "UTF-8";

/*fonts*/
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:300,400);
@font-face {
  font-family: 'WeblySleekUISemilight';
  src: url('weblysleekuisl.eot');
  src: url('weblysleekuisl.eot?#iefix') format('embedded-opentype'),
       url('weblysleekuisl.woff') format('woff'),
       url('weblysleekuisl.ttf') format('truetype'),
       url('weblysleekuisl.svg#WeblySleekUISemilight') format('svg');
}

.fontpro,.fontpro-21647 {
  font-family: 'WeblySleekUISemilight',sans-serif;
}

/* css reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
html, body {
  line-height: 1;
  color: #222;
  a:hover {
    background-color: transparent;
  }
}
ol, ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}
a img {
  border: none;
}
article, aside, details, figcaption, figure, footer, 
header, hgroup, main, menu, nav, section, summary {
  display: block;
}
body {
  color: #58585a;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 100%;
  line-height: 1.2;
}
a {
  color: #ab8ab1;
  .more {
    white-space: nowrap;
    &::after {
      content: " »";
    }
  }
}
p {
  a {
    color: #ab8ab1;
    text-decoration: underline;
  }
}
strong, b {
  color: black;
  font-weight: bold;
}
em, i, .italic {
  font-style: italic;
}
abbr, acronym {
  border-bottom: 1px dotted #999999;
}
sub, sup {
  font-size: 85%;
}
sub {
  vertical-align: sub;
}
sup {
  vertical-align: super;
}
span {
  .caps {
    font-size: 95%;
  }
}
h1 {
  font-weight: normal;
  line-height: 1.2;
  margin: 0.75em 0;
}
h2 {
  font-weight: normal;
  line-height: 1.2;
  margin: .5em 0;
}
h3 {
  font-weight: normal;
  line-height: 1.1;
  margin: .5em 0;
}
h4 {
  font-weight: normal;
  font-size: 110%;
  margin: .5em 0;
}
h5 {
  font-style: italic;
  line-height: 1.1;
  margin: .5em 0;
}
h6 {
  font-style: italic;
  line-height: 1.1;
  margin: .5em 0;
}
p {
  margin: 1em 0;
  font-size: 14px;
}
ul, ol, dl {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 14px;
}
ul, ol, dd {
  padding-left: 1.3em;
}
ul {
  list-style: disc;
}
ol {
  list-style: decimal;
}
li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
dt {
  margin-top: 1em;
}
dd {
  margin-bottom: 1em;
}
code, dfn, kbd, samp, tt {
  font-family: Monaco, "Andale Mono", "Lucida Console", monospace;
  font-size: 95%;
  color: #585858;
}
pre {
  background: #585858;
  color: #ccc;
  font-family: Monaco, "Andale Mono", "Lucida Console", monospace;
  font-size: 95%;
  line-height: 1.4;
  margin: 1.5em 0;
  padding: 1em;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
img { 
  width: 100%;
}
a:hover {
  background-color: transparent;
}
a:hover, a:focus {
  color: #ab8ab1;
}
.hidden {
  display: none;
}
/**** quick styles ****/
.left {
  float: left;
}
.right {
  float: right;
}
.clear {
  clear: both;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.centered {
  margin: 0 auto;
  text-align: center;
}
.black {
  color: #222 !important;
}
.white { 
  color: #fff !important;
}
.purple {
  color: #ab8ab1;}
.gray {
  color: #ccc;
}
.dark-gray {
  color: #585858;
}
.light-gray {
  color: #eee;
}
.shadowed {
  box-shadow: 0 3px 4px rgba(0,0,0,.3);
}
.no-bullets {
  list-style-type: none;
  padding-left: 0;
}
.pad-top {
  padding-top: 1em;
}
.pad-top2 {
  padding-top: 2em;
}
.no-top {
  padding-top: 0;
  margin-top: 0;
}
.round-left {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.round-right {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

/*** type ***/
.serif {
  font-family: 'Roboto Slab', Arvo, Georgia, Times, serif;
}
.sans {
  font-family: "WeblySleekUISemilight", "Helvetica Neue", Helvetica, sans-serif;
}


h1, h3, h5 {
  font-family: 'Roboto Slab', Arvo, Georgia, Times, serif;
}
h2, h4, h6 {
  font-family: "WeblySleekUISemilight", "Helvetica Neue", Helvetica, sans-serif;
}
h1 {
  font-size: 24px;
}
h2 {
  font-size: 20px;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 18px;
}

a, p {
  font-family: "WeblySleekUISemilight", "Helvetica Neue", Helvetica, sans-serif;
}

/** button styles **/
.button {
  &.purple { 
    a {
      color: white;
      text-decoration: none;
      background-color: #32243a;

      /*TODO: change button color*/
      &:hover{
        background-color: rgba(115, 184, 248, 1);
      }
      &:active{
        background-color: rgba(34, 126, 211, 1);
      }
    }
  }
  a {
    display: inline-block;
    padding: .8em 1em;
    border-radius: 3px;
  }
}
/*** main styles ***/
body { 
  background: #242424 url(asset-path('background1small.jpg')) no-repeat center fixed;
  @media screen and (min-width: 768px) {
    background: #242424 url(asset-path('background1.jpg')) no-repeat center fixed;
  }
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover !important;
  transform: rotate(0);
}

.container-div {
  margin: 0 auto;
  .left:first-of-type {
    margin-right: 5%;
  }
}
.box{
  background: #eee;
  border: 1px solid #ddd;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  margin: 1.5em -1em;
  padding: 1px 1em;
}
.white-bubble {
  display: inline-block;
  vertical-align: middle;
  background-color: rgba(255, 255, 255, .95);
  border-radius: 8px;
  width: 45%;
  min-width: 200px;
  margin-left: 5%;
  padding: 1em;
  p {
    font-size: 12px;
  }
}
figcaption {
  position: relative;
  top: -2.5em;
  text-align: center;
  background-color: rgba(255,255,255,.8);
  padding: .2em 0;
}
.read-more {
  text-decoration: none;
  text-transform: uppercase;
  color: rgba(0, 125, 195, 1);
}
section {
  margin: 0 10%;
  padding: 2.2em;
  background: rgba(255, 255, 255, 0.9);
  color: #242424;
  @media (max-width: 665px) {
    margin: 0 5%;
    padding: 2.2em 1em;
  }
}

article {
  > h2 {
    padding-bottom: 5px;
  }
}

.header {
  @media screen and (min-width: 481px) {
    padding-top: 40vh;
  }
}

header {
  background: rgba(127, 54, 136, .6);
  @media screen and (min-width: 631px) {
    background: rgba(127, 54, 136, .6) url(asset-path('inksplotch-30.png')) no-repeat right center;
  }
  padding: 2em 5% 1em;
  @media screen and (max-width: 630px) {
    text-align: left;
    padding: 2em 0 0 0;
  } 
  position: relative;
  border-top: 3px solid rgba(0,0,0,.3);
  box-shadow: 0 3px 4px rgba(0,0,0,.3);
  
  .menu {
    color: #fff;
    float: none;
    text-align: center;
    @media screen and (max-width: 984px) {
      clear: both;
    }
    @media screen and (min-width: 985px) {
      float: right;
      text-align: right;
    }
    .social-media-links {
      ul {
        list-style-type: none;
        li {
          display: inline;
          a {
            /*font-size: 0;*/
            color: transparent;
            display: inline-block;
            width: 26px;
            height: 26px;
            background-color: transparent;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
          }
          a[title="facebook"]  { background-image: image-url('fb-white.png'); }
          a[title="twitter"]   { background-image: image-url('twit-white.png'); }
          a[title="pinterest"] { background-image: image-url('pinterest-white.png'); }
          a[title="linkedin"]  { background-image: image-url('linked-white.png'); }
          a[title="googleplus"]{ background-image: image-url('googleplus-white.png'); }
          a[title="yelp"]      { background-image: image-url('yelp-white.png'); }
        }
        li~li {
          margin-left: 6px;
        }
      }

    }

    .call {
      font-family: "WeblySleekUISemilight", "Helvetica Neue", Helvetica, sans-serif;
      font-size: 16px;
      a {
        transition: color .3s ease;
        color: #fff;
        &:hover,
        &:focus {
          color: #ccc;
        }
      }
    }

    nav.main {
      margin-top: .5em;
      ul {
        padding-left: 0;
        margin: 0;
        link-style-type: none;
        li {
          display: inline-block;
          margin: 0;
          padding: 0 0 0 1.6em;
          @media (max-width: 630px) {
            display: block;
            padding: .75em;
            text-align: left;
            background-color: rgba(100, 50, 100, 0.95);
            border-bottom: 1px solid rgba(0,0,0,.3);
          }
          a {
            transition: color .3s ease;
            font-family: 'Roboto Slab', Arvo, Georgia, Times, serif;
            text-decoration: none;
            text-transform: uppercase;
            color: #fff;
            font-size: 14px;
            &:hover,
            &:focus {
              color: #ccc;
            }
          }
        }
        li.dropdown {
          @media (max-width: 630px) {
            &::after {   
              content: '\25bc';
              display: block;
              width: 16px;
              height: 16px;
              color: #fff;
              font-size: 14px;
              position: absolute;
              left: 30%;
              top: .75em;
            }
          }

          ul.secondary {
            display: none;
            margin: 0;
            background: rgba(100, 50, 100, 0.95);
            list-style-type: none;
            text-align: center;
            width: 160px;
            height: auto;
            padding-left: 0;
            padding-bottom: 0;
            border-radius: 6px;
          }
          @media screen and (min-width: 631px) {
            &:nth-of-type(1){
              ul.secondary {
                margin-left: -54px;
              }
            }
            &:nth-of-type(2){
              ul.secondary {
                margin-left: -57px;
              }
            }
            &:nth-of-type(3){
              ul.secondary {
                margin-left: -41px;
              }
            }
            /*&:nth-of-type(4){
              ul.secondary {
                margin-left: -30px;
                width: 100px;
              }
            }*/
          }
          &:hover, 
          &:focus {
            ul.secondary {
              display: block;
              position: absolute;
              z-index: 99;
              border: 2px solid #fff;
              @media (max-width: 630px) {
                left: 25%;
                top: 0;
              }
              @media (max-width: 600px) {
                left: 40%;
                top: 0;
              }
              li {
                transition: background-color .3s ease;
                background-color: transparent;
                border: none;
                border-left: none !important;
                margin: 0 auto;
                padding: 1em 0;
                display: inline-block;
                width: 100%;
                text-align: center;
                border-radius: 6px;
                &:hover,
                &:focus {
                  background-color: #666;
                }
                a {
                    transition: color .3s ease;
                    font-size: 14px;
                    text-decoration: none;
                    color: #fff;
                  &:hover, 
                  &:focus {
                    color: #ccc;
                    text-decoration: none;
                    background: transparent;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  a:link {
    color: #fff;
    text-decoration: none;
  }
  a:visited {
    color: #ccc;
  }
  a:hover {
    color: #ddd;
    text-decoration: none;
  }

  .logo {
    @media screen and (min-width: 985px) {
      float: left;
    }
    margin: 1em auto;
    text-align: center;
    width: 375px;
    @media screen and (max-width: 520px) {
      width: 100%;
    }
    #logo {
      width: 375px;
      @media screen and (max-width: 520px) {
        margin-left: 5%;
        width: 90%;
      }
      height: 99px;
    	font-size: 0;
  		display: block;
  		background: transparent url(asset-path('logo-white.png')) no-repeat center center;
  		background-size: 100% auto;
    }
  }
}
footer {
  padding: 0 5%;
  padding-top: 15px;
  height: 55px;
  @media screen and (min-width: 1050px) {
    height: 45px;
  }
  box-sizing: border-box;
  background: rgba(127, 54, 136, .6);
  color: #fff;
  span {
    color: #fff;
    display: inline-block;
    a {
      transition: color .3s ease;
      color: #fff;
      &:hover{
        color: #ddd;
      }
    }
  }
  nav.tertiary {
    display: inline-block;
    ul {
      display: inline;
      list-style-type: none;
      padding-left: 0;
      li {
          display: inline;
          padding: 0;
        a {
          transition: color .3s ease;
          text-decoration: none;
          color: #fff;
          &:hover, &:focus {
            color: #ddd;
          }
        }
      }
      li~li {
        padding-left: 1em;
      }
    }
    .barleft {
      @media screen and (max-width: 960px) {
        display: none;
      } 
    }
  }
  .reserve {
    @media screen and (max-width: 830px) {
      display: none;
    } 
  }
  .to-top {
    position: relative;
    font-size: 14px;
    transition: color .3s ease;
    color: #fff;
    &:hover, &:focus {
      color: #ddd;
    }
    &::after {   
      content: '\25b2';
      display: block;
      width: 16px;
      height: 16px;
      color: #fff;
      font-size: 14px;
      position: absolute;
      left: 110%;
      bottom: 0;
    }
  }
}

/** flex-box, sticky footer **/
html, body {
  height: 100%;
}
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -50px;
  @media screen and (min-width: 1050px) {
    margin: 0 auto -40px;
  }
}
.footer, .push {
  height: 50px;
  @media screen and (min-width: 1050px) {
    height: 40px;
  }
  box-sizing: border-box;
  clear: both;
}

/**map**/
.map {
  width: 40%;
  h2 {
    border-bottom: 1px solid #ddd;
  }
  .map-container {
    padding: 0;
    #map {
      width: 100%;
      min-width: 280px;
      margin-right: 5%;
      margin-bottom: 20px;
      height: 380px;
      float: left;
    }
    &.map-full {
      #map {
        width: 100%;
        float: none;
      }
    }
  }
}

/** form **/
.formContainer{
  background: #ccc;
  border-radius: 4px;
  width: 350px;
  height: 380px;
  margin: 0 auto;
  padding: 20px 50px;
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  @media (max-width: 600px) {
    width: 200px;
    padding: 20px;
  }
  .input{
    width: 330px;
    margin: 5px 0;
    height: 15px;
    background: white;
    padding: 10px;
    font-size: 11px;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    &.dropdown{
      height: 40px;
      width: 350px;
    }
    &.textarea{
      height: 70px;
    }
    &.button{
      border: none;
      border-radius: 4px;
      width: 140px;
      height: 40px;
      color: white;
      margin: 20px 90px;
      background-color: rgba(0, 161, 255, 1);
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      &:hover{
        background-color: rgba(115, 184, 248, 1);
      }
      &:active{
        background-color: rgba(34, 126, 211, 1);
      }
      @media (max-width: 600px) {
        margin: 20px 30px;
      }
    }
    @media (max-width: 600px) {
      width: 180px;
      &.dropdown{
        width: 200px;
      }
    }
  }
}

.contact-links {
  text-align: center;
  margin: 1em auto;
}

/**** columns layout ****/
.column {
  width: 30%;
  min-width: 200px;
  float: left;
}
.column + .column {
  margin-left: 5%;
}
.two-column {
  width: 60%;
  min-width: 260px;
  &.left {
    margin-right: 5%;
  }
}
.half-column {
  width: 45%;
}
.half-column + .half-column {
  margin-left: 5%;
}
.full {
  width: 100%;
}


/*** home page ***/
section[role=main]{
  padding: 0 5%;
  @media screen and (max-width: 1024px) {
    padding: 0;
  }
  .intro {
    width: 100%;
    padding: 0;
    margin: 1em auto;
    .item {
      width: 33%;
      height: auto;
      margin: 0 auto;
      float: left;
      @media screen and (max-width: 1024px) {
        width: 48%;
      }
      &.mobilenoshow {
        text-align: center;
        margin: auto;
        @media (max-width: 1024px) {
          display: none;
        }
        img {
          max-width: 140px;
          border: 3px solid #fff;
          border-radius: 10px;
        }
      }
      &.text-box {
        margin: auto;
        padding: 1em;
        @media screen and (max-width: 1024px) {
          padding: 2em;
        }
        @media (max-width: 580px) {
          width: 96%;
        }
        h1 {
          margin: 0;
          @media (max-width: 1024px) {
            font-size: 28px;
          }
          @media (max-width: 580px) {
            font-size: 24px;
            text-align: center;
          }
        }
        p {
          font-size: 11px;
          line-height: 1.4;
          @media (max-width: 580px) {
            font-size: 14px;
          }
        }
      }
    }
  }
  .home-text {
    @media (max-width: 1024px) {
      padding: 0 2em;
    }
  }
}


/** page content **/
h1.lined { 
  border-bottom: 2px solid #3e1151;
  padding-bottom: 3px;
  margin-bottom: 0;
}

#Menu {
  .flourish {
    float: left;
    width: 32%;
    margin-right: 1em;
    @media (max-width: 640px) {
      display: none;
    }
  }
  .textblock {
    float: right;
    width: 65%;
    min-width: 320px;
  }
  .more-menu {
    margin-top: 2em;
  }
  .col-3 {
    .service-box {
      @media (min-width: 1038px) {
        width: 32%;
      }
      width: 48%;
      display: inline-block;
      @media (max-width: 717px) {
        display: block;
        width: 100%;
        padding: 1em 0;
      }
      vertical-align: top;
      min-width: 250px;
      .hex-icon {
        text-align: center;
        margin: 0 auto;
        width: 60px;
      }
      h3 {
        text-align: center;
      }
      p {
        min-height: 95px;
      }
    }
  }
}



/** service list **/
dl.order-bar {
  transition: background-color 0.5s ease, color 0.5s ease;
  background-color: #32243a;
  color: #fff;
  padding: .5em 2em;
  margin: 3px auto;
  &:hover {
    background-color: #b3b2b1;
    color: #32243a;
      dt.service {
        a {
          color: #32243a;
        }
      }
      dd.price {
        color: #32243a;
      }
  }
  dt.service {
    display: inline;
    a {
      transition: color 0.5s ease;
      color: #fff;
      text-decoration: none;
      font-weight: bold;
    }
  }
  dd.price {
    float: right;
    color: #fff;
  }
}

/** loading gif **/
#loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 110%;
  z-index: 2147483647;
  background: rgba(255,255,255, 1);
  #loader-gif {
    position: absolute;
    top: 30%;
    left: 30%;
    width: 390px;
    height: auto;
    @media (max-width: 520px) {
      left: 5%;
      width: 90%;
    }
  }
}

/** ShareThis Style Over-ride **/
#sthoverbuttons {
  @media (max-width: 630px) {
    display: none;
  }
  top: 0 !important;
  right: 0 !important;
  z-index: 2 !important;
}

#sthoverbuttons-background {
  z-index: 3 !important;
  border: 3px solid rgba(0,0,0,.3);
  border-radius: 4px;
  #sthoverbuttons-top {
    background: transparent !important;
    height: 0;
    display: none;
  }
  #sthoverbuttons-shade {
    background: rgba(127, 54, 136, .5) !important;
  }
  #sthoverbuttons-bottom {
    background: transparent !important;
    height: 0;
    display: none;
  }
}

#sthoverbuttonsMain {
  z-index: 4 !important;
  padding: 1em 0 !important;
  left: 9px;
  float: none;
  .sthoverbuttons-label {
    color: #fff !important;
  }
}



/** placeholder stuff **/
.todo {
  color: rgba(200, 5, 20, 1);
  padding: 0 15%;
  line-height: 1.4;
}


