// Place all the styles related to the specials controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#Specials {
  .post {
    &:first-of-type {
      margin-top: 1em;
    }
  }
  .post ~ .post {
    border-top: 2px solid #ccc;
  }
  .content {
    img {
      float: left;
      max-width: 50%;
    }
  }
}