- provide(:title, 'Testimonials')
#News#Testimonials
  %section.clearfix{role: "top"}
    %article.column-left
      %h1 Client Testimonials
      - @testimonials.each do |testimonials|
        .post
          %h1= testimonials.title
          %blockquote.testimonial
            %p= testimonials.content.html_safe
            .name= testimonials.name
            -# %span.dateline= testimonials.published_at
      .post
        = render 'layouts/addto'
      =paginate @testimonials

      .clear
      .reviews
        %h4 Check out more of our excellent reviews:
        %iframe{allowtransparency: "true", frameborder: "0", height: "100", src: "https://www.massagebook.com/reviewspublic/button/651016", width: "165", class: "framed"}
        .yelp#yelp-biz-badge-rrc-tAbrlMFDM64AD48pZBrAkg
          %a{href: "http://yelp.com/biz/married-to-massage-sacramento"}
            %img{alt:"Married to Massage", src:"http://dyn.yelpcdn.com/extimg/en_US/rrc/tAbrlMFDM64AD48pZBrAkg.png", height:"55", width:"125", style:"width: 125px; margin-left: 12px;"}

    %article.column-right
      .formContainer
        %h2 Submit A Testimonial
        %form#ss-form{:action => "https://docs.google.com/forms/d/1qUrdq9KB6hc8S9RF-XnqOovPwT4gzV2kkeDpAIgcdqU/formResponse", :method => "POST", :onsubmit => "", :target => "_self"}
          %textarea.ss-q-long.input{"aria-label" => "Comments  ", "aria-required" => "true", :cols => "0", :dir => "auto", :name => "entry.1672611974", :required => "true", :rows => "8", :placeholder => "Comments"}
          %input.ss-q-short.input{"aria-label" => "Email  Must be a valid email address", :dir => "auto", :name => "entry.782387978", :title => "Must be a valid email address", :type => "email", :value => "", :placeholder => "Email"}
          %input.ss-q-short.input{"aria-label" => "Name  ", :dir => "auto", :name => "entry.1379570341", :title => "", :type => "text", :value => "", :placeholder => "Title"}
          %input.ss-q-short.input{"aria-label" => "Company  ", :dir => "auto", :name => "entry.1651688202", :title => "", :type => "text", :value => "", :placeholder => "Company"}
            %input{:name => "draftResponse", :type => "hidden", :value => "[,,&quot;297353773176205858&quot;]\n"}
              %input{:name => "pageHistory", :type => "hidden", :value => "0"}
                %input{:name => "fbzx", :type => "hidden", :value => "297353773176205858"}
                  .ss-item.ss-navigate
                    %table#navigation-table
                      %tbody
                        %tr
                          %td#navigation-buttons.ss-form-entry.goog-inline-block{:dir => "ltr"}
                            %input#ss-submit.jfk-button.jfk-button-action{:name => "submit", :type => "submit", :value => "Submit"}