- provide(:title, 'Testimonials')
#News#Announcements
  %section.clearfix{role: "top"}
    %article
      - @testimonials.each do |testimonials|
        .post
          %h1= testimonials.title
          %span.dateline= testimonials.published_at
          .truncated
            = testimonials.content.html_safe
          .name= testimonials.name
      =paginate @testimonials
