%footer
  %span.left
    To Reserve your appointment utilize our
    = link_to "Online Scheduler:", "#"
    or email
    = link_to "marriedtomassage@gmail.com", "mailto:marriedtomassage@gmail.com"
  %span.right= link_to "Back to Top", "#nav"
